body{
    margin: auto;
}
a{
    text-decoration: none;
}
/* Header Css */
header{
    height:80px;
    /* border:5px solid red; */
    background-color: #3b2632;
}

#brand{
    color:white;
    font-size:30px;
    float:left;
    margin-top:1%;
    margin-left:2%;
}

#social{
    float:right;
    margin-top:12px;
    margin-right:1%;
}

.socialIcon{
    height:50px;
    width:50px;

}

/* Search Css */
.search{
    height:400px;
    background-image: url("images/foodWallpaper.png");
    background-repeat: no-repeat;
    background-size: cover
    /* background-size:100% 400px */
}

#logo{
    height:150px;
    width:150px;
    background-color: white;
    border-radius: 50%;
    margin-top: 2%;
    margin-left:43%;
    position:absolute;
}

#logo > span{
    margin-top: 12%;
    margin-left:22%;
    position:absolute;
    font-size: 90px;
    font-family:Arial, Helvetica, sans-serif
}

#heading{
    margin-top: 15%;
    margin-left: 29%;
    position:absolute;
    font-size: 55px;
    color:white
}

#dropdown{
    width:50%;
    /* border:5px solid white; */
    height:60px;
    margin-top: 21%;
    margin-left: 26%;
    position:absolute;
}

select{
    width:44%;
    height:60px;
    font-size:20px;
    text-align: center;
}

.restSelect{
    width:55%;
}

/* QuickSearch Css */
.quickSearch{
    height:600px;
    border:5px double blue
}


/* Footer Css */
footer{
    height:80px;
    border:5px groove orange
}